In [2]:
#Load dependencies and define data files to import
from datetime import datetime as dt, timedelta
import datetime
import pandas as pd
import numpy as np

In [74]:

weather_data = pd.read_excel("../Clean Data Files/Weather_KIAHstation_2017-2020.xls")
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,windAvg,windMin,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,2.7,0,29.8,29.7,29.7,0.30,KIAH,houston,2017,1
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,8.3,0,29.8,29.7,29.6,0.07,KIAH,houston,2017,1
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,8.6,0,30.0,29.9,29.8,1.22,KIAH,houston,2017,1
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,8.1,0,30.1,30.0,29.9,0.00,KIAH,houston,2017,1
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,7.0,0,29.9,29.8,29.8,0.00,KIAH,houston,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,10.8,5,30.2,30.1,30.1,1.04,KIAH,houston,2020,3
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,7.8,5,30.1,30.0,29.9,0.36,KIAH,houston,2020,3
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,7.4,0,30.0,29.9,29.8,0.01,KIAH,houston,2020,3
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,8.0,0,29.9,29.8,29.7,0.00,KIAH,houston,2020,3
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,6.4,0,29.8,29.8,29.7,0.00,KIAH,houston,2020,3

In [75]:
weather_data['date_field_str'] =  weather_data["Year"].astype(str) + '-' + weather_data["Month"].astype(str) + '-' + weather_data["dt"].astype(str)
weather_data['date_field'] = weather_data['date_field_str'].apply(pd.to_datetime,errors='coerce')
weather_data['date_field'] = weather_data['date_field'].dt.date
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month,date_field_str,date_field
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,29.8,29.7,29.7,0.30,KIAH,houston,2017,1,2017-1-1,2017-01-01
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,29.8,29.7,29.6,0.07,KIAH,houston,2017,1,2017-1-2,2017-01-02
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,30.0,29.9,29.8,1.22,KIAH,houston,2017,1,2017-1-3,2017-01-03
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,30.1,30.0,29.9,0.00,KIAH,houston,2017,1,2017-1-4,2017-01-04
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,29.9,29.8,29.8,0.00,KIAH,houston,2017,1,2017-1-5,2017-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,30.2,30.1,30.1,1.04,KIAH,houston,2020,3,2020-3-21,2020-03-21
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,30.1,30.0,29.9,0.36,KIAH,houston,2020,3,2020-3-22,2020-03-22
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,30.0,29.9,29.8,0.01,KIAH,houston,2020,3,2020-3-23,2020-03-23
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,29.9,29.8,29.7,0.00,KIAH,houston,2020,3,2020-3-24,2020-03-24
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,29.8,29.8,29.7,0.00,KIAH,houston,2020,3,2020-3-25,2020-03-25

In [79]:
weather_data_selected = weather_data[['date_field', 'tempMax', 'tempAvg', 'tempMin', 'precTotal']]
weather_data_selected = weather_data_selected.rename(columns={"precTotal": "precipitation"})
weather_data_selected

      date_field  tempMax  tempAvg  tempMin  precipitation
0     2017-01-01       74     67.5       64           0.30
1     2017-01-02       74     66.9       53           0.07
2     2017-01-03       75     61.9       49           1.22
3     2017-01-04       52     46.5       42           0.00
4     2017-01-05       56     50.4       44           0.00
...          ...      ...      ...      ...            ...
1175  2020-03-21       61     57.5       54           1.04
1176  2020-03-22       77     67.5       58           0.36
1177  2020-03-23       84     74.7       70           0.01
1178  2020-03-24       87     77.3       72           0.00
1179  2020-03-25       89     77.5       72           0.00

[1180 rows x 5 columns]

In [80]:
weather_data_selected.to_csv("../static/data/Final_selected_weather_data.csv")