In [2]:
#Load dependencies and define data files to import
from datetime import datetime as dt, timedelta
import datetime
import pandas as pd
import numpy as np

In [74]:

weather_data = pd.read_excel("../Clean Data Files/Weather_KIAHstation_2017-2020.xls")
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,windAvg,windMin,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,2.7,0,29.8,29.7,29.7,0.30,KIAH,houston,2017,1
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,8.3,0,29.8,29.7,29.6,0.07,KIAH,houston,2017,1
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,8.6,0,30.0,29.9,29.8,1.22,KIAH,houston,2017,1
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,8.1,0,30.1,30.0,29.9,0.00,KIAH,houston,2017,1
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,7.0,0,29.9,29.8,29.8,0.00,KIAH,houston,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,10.8,5,30.2,30.1,30.1,1.04,KIAH,houston,2020,3
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,7.8,5,30.1,30.0,29.9,0.36,KIAH,houston,2020,3
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,7.4,0,30.0,29.9,29.8,0.01,KIAH,houston,2020,3
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,8.0,0,29.9,29.8,29.7,0.00,KIAH,houston,2020,3
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,6.4,0,29.8,29.8,29.7,0.00,KIAH,houston,2020,3

In [75]:
weather_data['date_field_str'] =  weather_data["Year"].astype(str) + '-' + weather_data["Month"].astype(str) + '-' + weather_data["dt"].astype(str)
weather_data['date_field'] = weather_data['date_field_str'].apply(pd.to_datetime,errors='coerce')
weather_data['date_field'] = weather_data['date_field'].dt.date
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month,date_field_str,date_field
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,29.8,29.7,29.7,0.30,KIAH,houston,2017,1,2017-1-1,2017-01-01
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,29.8,29.7,29.6,0.07,KIAH,houston,2017,1,2017-1-2,2017-01-02
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,30.0,29.9,29.8,1.22,KIAH,houston,2017,1,2017-1-3,2017-01-03
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,30.1,30.0,29.9,0.00,KIAH,houston,2017,1,2017-1-4,2017-01-04
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,29.9,29.8,29.8,0.00,KIAH,houston,2017,1,2017-1-5,2017-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,30.2,30.1,30.1,1.04,KIAH,houston,2020,3,2020-3-21,2020-03-21
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,30.1,30.0,29.9,0.36,KIAH,houston,2020,3,2020-3-22,2020-03-22
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,30.0,29.9,29.8,0.01,KIAH,houston,2020,3,2020-3-23,2020-03-23
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,29.9,29.8,29.7,0.00,KIAH,houston,2020,3,2020-3-24,2020-03-24
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,29.8,29.8,29.7,0.00,KIAH,houston,2020,3,2020-3-25,2020-03-25

In [79]:
weather_data_selected = weather_data[['date_field', 'tempMax', 'tempAvg', 'tempMin', 'precTotal']]
weather_data_selected = weather_data_selected.rename(columns={"precTotal": "precipitation"})
weather_data_selected

      date_field  tempMax  tempAvg  tempMin  precipitation
0     2017-01-01       74     67.5       64           0.30
1     2017-01-02       74     66.9       53           0.07
2     2017-01-03       75     61.9       49           1.22
3     2017-01-04       52     46.5       42           0.00
4     2017-01-05       56     50.4       44           0.00
...          ...      ...      ...      ...            ...
1175  2020-03-21       61     57.5       54           1.04
1176  2020-03-22       77     67.5       58           0.36
1177  2020-03-23       84     74.7       70           0.01
1178  2020-03-24       87     77.3       72           0.00
1179  2020-03-25       89     77.5       72           0.00

[1180 rows x 5 columns]

In [80]:
weather_data_selected.to_csv("../static/data/Final_selected_weather_data.csv")

# lets have the data ready for visualization

In [3]:
weather_data = pd.read_csv("../../WeatherUnderground_KIAH_3yrs.csv")
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,windMin,presMax,presAvg,presMin,precTotal,mon,StationCode,StationName,Year,Month
0,Mar,1,77,64.3,55,51,40.6,30,80,46.9,...,5,27.9,27.9,27.8,0.00,NaN,K,I,2017,1
1,Mar,2,69,61.0,53,55,47.4,34,78,61.6,...,0,27.9,27.8,27.8,0.00,NaN,K,I,2017,1
2,Mar,3,73,62.5,54,51,46.4,42,78,57.8,...,0,27.9,27.8,27.8,0.00,NaN,K,I,2017,1
3,Mar,4,56,52.3,48,52,48.1,42,93,85.7,...,0,28.2,27.9,27.8,0.73,NaN,K,I,2017,1
4,Mar,5,75,55.8,40,47,41.3,36,86,62.9,...,3,28.4,28.3,28.1,1.61,NaN,K,I,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2101,Mar,23,78,66.3,59,61,58.5,56,93,77.7,...,3,28.0,28.0,27.9,0.00,NaN,h,o,2020,3
2102,Mar,24,82,65.3,54,62,49.7,34,100,67.0,...,0,28.0,27.9,27.9,0.00,NaN,h,o,2020,3
2103,Mar,25,92,69.5,46,61,46.4,38,77,49.6,...,0,27.9,27.9,27.8,0.00,NaN,h,o,2020,3
2104,Mar,26,90,76.5,64,67,63.6,57,90,66.2,...,0,27.9,27.8,27.7,0.00,NaN,h,o,2020,3
2105,Mar,27,83,71.4,60,65,60.2,55,93,71.4,...,0,27.8,27.7,27.7,0.00,NaN,h,o,2020,3

In [4]:
weather_data['date_field_str'] =  weather_data["Year"].astype(str) + '-' + weather_data["Month"].astype(str) + '-' + weather_data["dt"].astype(str)
weather_data['date_field'] = weather_data['date_field_str'].apply(pd.to_datetime,errors='coerce')
weather_data['date_field'] = weather_data['date_field'].dt.date
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,presAvg,presMin,precTotal,mon,StationCode,StationName,Year,Month,date_field_str,date_field
0,Mar,1,77,64.3,55,51,40.6,30,80,46.9,...,27.9,27.8,0.00,NaN,K,I,2017,1,2017-1-1,2017-01-01
1,Mar,2,69,61.0,53,55,47.4,34,78,61.6,...,27.8,27.8,0.00,NaN,K,I,2017,1,2017-1-2,2017-01-02
2,Mar,3,73,62.5,54,51,46.4,42,78,57.8,...,27.8,27.8,0.00,NaN,K,I,2017,1,2017-1-3,2017-01-03
3,Mar,4,56,52.3,48,52,48.1,42,93,85.7,...,27.9,27.8,0.73,NaN,K,I,2017,1,2017-1-4,2017-01-04
4,Mar,5,75,55.8,40,47,41.3,36,86,62.9,...,28.3,28.1,1.61,NaN,K,I,2017,1,2017-1-5,2017-01-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2101,Mar,23,78,66.3,59,61,58.5,56,93,77.7,...,28.0,27.9,0.00,NaN,h,o,2020,3,2020-3-23,2020-03-23
2102,Mar,24,82,65.3,54,62,49.7,34,100,67.0,...,27.9,27.9,0.00,NaN,h,o,2020,3,2020-3-24,2020-03-24
2103,Mar,25,92,69.5,46,61,46.4,38,77,49.6,...,27.9,27.8,0.00,NaN,h,o,2020,3,2020-3-25,2020-03-25
2104,Mar,26,90,76.5,64,67,63.6,57,90,66.2,...,27.8,27.7,0.00,NaN,h,o,2020,3,2020-3-26,2020-03-26
2105,Mar,27,83,71.4,60,65,60.2,55,93,71.4,...,27.7,27.7,0.00,NaN,h,o,2020,3,2020-3-27,2020-03-27

In [5]:
weather_data_selected = weather_data[['date_field', 'tempMax', 'tempAvg', 'tempMin','dewMax', 'dewAvg', 'dewMin','humMax', 'humAvg', 'humMin','presMax', 'presAvg', 'presMin', 'precTotal']]
weather_data_selected = weather_data_selected.rename(columns={"precTotal": "precipitation"})
weather_data_selected

,date_field,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,humMin,presMax,presAvg,presMin,precipitation
0,2017-01-01,77,64.3,55,51,40.6,30,80,46.9,19,27.9,27.9,27.8,0.00
1,2017-01-02,69,61.0,53,55,47.4,34,78,61.6,45,27.9,27.8,27.8,0.00
2,2017-01-03,73,62.5,54,51,46.4,42,78,57.8,34,27.9,27.8,27.8,0.00
3,2017-01-04,56,52.3,48,52,48.1,42,93,85.7,77,28.2,27.9,27.8,0.73
4,2017-01-05,75,55.8,40,47,41.3,36,86,62.9,24,28.4,28.3,28.1,1.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2101,2020-03-23,78,66.3,59,61,58.5,56,93,77.7,54,28.0,28.0,27.9,0.00
2102,2020-03-24,82,65.3,54,62,49.7,34,100,67.0,18,28.0,27.9,27.9,0.00
2103,2020-03-25,92,69.5,46,61,46.4,38,77,49.6,18,27.9,27.9,27.8,0.00
2104,2020-03-26,90,76.5,64,67,63.6,57,90,66.2,45,27.9,27.8,27.7,0.00
2105,2020-03-27,83,71.4,60,65,60.2,55,93,71.4,38,27.8,27.7,27.7,0.00

In [6]:
weather_data_selected.to_csv("../static/data/selected_weather_data_for_visual.csv", index=False)