In [145]:
import pandas as pd
import datetime
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [103]:
# bring in the 311 data

data311_df = pd.read_csv("../Clean Data Files/modelstartdata.csv")


print(data311_df.columns.values)
# print(data311_df["sr create date"])
data311_df.head()

['index' 'case number' 'sr location' 'county' 'district' 'neighborhood'
 'tax id' 'trash quad' 'recycle quad' 'trash day' 'heavy trash day'
 'recycle day' 'key map' 'management district' 'department' 'division'
 'sr type' 'queue' 'sla' 'status' 'sr create date' 'due date'
 'date closed' 'overdue' 'title' 'x' 'y' 'latitude' 'longitude'
 'channel type' 'zipcode' 'openclosetime' 'openduetime' 'year']

,index,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,...,title,x,y,latitude,longitude,channel type,zipcode,openclosetime,openduetime,year
0,6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056",HARRIS,G,GREATER UPTOWN,4.514000e+11,NaN,NaN,NaN,...,Water Leak-101002444730,3089853.524,13831195.74,29.733522,-95.466104,Voice In,77056,32 days 12:49:18.000000000,9 days 23:59:59.000000000,2017
1,12,12091839-101002444736,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,Sewer Wastewater-101002444736,3119884.277,13867666.56,29.831239,-95.367955,Voice In,77022,3 days 05:37:27.000000000,0 days 23:59:58.000000000,2017
2,13,12091840-101002444737,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,4.200500e+11,NE,NW,MONDAY,...,Water Service-101002444737,3119785.781,13867661.60,29.831234,-95.368266,Voice In,77022,2 days 22:16:31.000000000,2 days 00:00:00.000000000,2017
3,15,12091841-101002444739,"7612 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,Water Service-101002444739,3120069.146,13867375.14,29.830423,-95.367401,Voice In,77022,0 days 02:26:29.000000000,1 days 23:59:59.000000000,2017
4,23,12091843-101002444752,"7335 IWO JIMA, HOUSTON TX 77033",HARRIS,D,SOUTH PARK,7.518900e+11,SE,SE,FRIDAY,...,Water Leak-101002444752,3128978.891,13812277.81,29.678215,-95.344744,Voice In,77033,0 days 02:34:10.000000000,10 days 00:00:00.000000000,2017

In [159]:
################################################################
# create a date value formatted the same as the weather data

splitdate = data311_df["sr create date"].str.split(" ", n=1, expand=True)

data311_df["create_date"] = splitdate[0]
data311_df["create_date"] = pd.to_datetime(data311_df["create_date"])
data311_df["create_date"] = data311_df['create_date'].dt.strftime('%Y-%m-%d')

##################################################################
# below is where I create the variables that I can use for modeling. I originally was trying to use the openclose time
# columns, but couldn't get it to just show the number of days.

data311.head()

type(data311_df["sr create date"])

# I set these as date formats using the to_datetime

data311_df["create_date_time"] = pd.to_datetime(data311_df["sr create date"])
data311_df["date_closed_time"] = pd.to_datetime(data311_df["date closed"])
data311_df["due_date_time"] = pd.to_datetime(data311_df["due date"])


# here  I define weather is was closed by the due date (0) or not (1)
data311_df["missed_due_date"] = np.where(data311_df["due_date_time"] > data311_df["date_closed_time"], 0, 1)

# calculate the difference between the closed date at the create date
data311_df["time_to_close"] = data311_df["date_closed_time"] - data311_df["create_date_time"]

# apply formatting so that is is in seconds. then calculate the number of days.
data311_df["seconds_to_close"] = data311_df["time_to_close"].astype('timedelta64[s]')
data311_df["days_to_close"] = data311_df["seconds_to_close"]/60/60/24
 
# data311_df[["create_date_time", "date_closed_time", "time_to_close","seconds_to_close", "days_to_close"]]


data311_df[["create_date_time","due_date_time", "date_closed_time", "missed_due_date", "days_to_close"]]

,create_date_time,due_date_time,date_closed_time,missed_due_date,days_to_close
0,2017-01-01 00:30:00,2017-01-11 00:30:00,2017-02-02 13:20:00,1,32.534722
1,2017-01-01 05:22:00,2017-01-02 05:22:00,2017-01-04 11:00:00,1,3.234722
2,2017-01-01 05:23:00,2017-01-03 05:23:00,2017-01-04 03:40:00,1,2.928472
3,2017-01-01 06:43:00,2017-01-03 06:43:00,2017-01-01 09:10:00,0,0.102083
4,2017-01-01 08:45:00,2017-01-11 08:45:00,2017-01-01 11:20:00,0,0.107639
5,2017-01-01 09:49:00,2017-01-02 09:49:00,2017-01-01 12:00:00,0,0.090972
6,2017-01-01 10:23:00,2017-01-11 10:23:00,2017-01-01 12:55:00,0,0.105556
7,2017-01-01 10:30:00,2017-01-02 10:30:00,2017-01-12 02:50:00,1,10.680556
8,2017-01-01 10:56:00,2017-01-02 10:56:00,2017-01-02 16:10:00,1,1.218056
9,2017-01-01 11:04:00,2017-01-02 11:04:00,2017-01-04 03:35:00,1,2.688194
10,2017-01-01 11:07:00,2017-01-11 11:07:00,2017-01-01 13:00:00,0,0.078472
11,2017-01-01 11:42:00,2017-01-02 11:42:00,2017-01-01 13:00:00,0,0.054167
12,2017-01-01 11:46:00,2017-01-02 11:46:00,2017-01-01 22:05:00,0,0.429861
13,2017-01-01 11:50:00,2017-01-02 11:50:00,2017-01-02 14:50:00,1,1.125000
14,2017-01-01 12:09:00,2017-01-02 12:09:00,2017-01-02 11:35:00,0,0.976389
15,2017-01-01 12:18:00,2017-01-02 12:18:00,2017-01-02 12:15:00,0,0.997917
16,2017-01-01 12:19:00,2017-01-11 12:19:00,2017-02-15 02:05:00,1,44.573611
17,2017-01-01 12:21:00,2017-01-06 08:00:00,2017-01-04 16:37:00,0,3.177778
18,2017-01-01 12:26:00,2017-01-11 12:26:00,2017-01-01 13:35:00,0,0.047917
19,2017-01-01 13:07:00,2017-01-02 13:07:00,2017-01-01 21:15:00,0,0.338889
20,2017-01-01 13:11:00,2017-01-02 13:11:00,2017-01-11 01:15:00,1,9.502778
21,2017-01-01 13:11:00,2017-01-02 13:11:00,2017-01-04 03:35:00,1,2.600000
22,2017-01-01 13:21:00,2017-01-02 13:21:00,2017-01-02 20:20:00,1,1.290972
23,2017-01-01 13:22:00,2017-01-11 13:22:00,2017-01-01 14:25:00,0,0.043750
24,2017-01-01 13:35:00,2017-01-11 13:35:00,2017-01-02 06:30:00,0,0.704861
25,2017-01-01 13:50:00,2017-01-02 13:50:00,2017-01-02 11:40:00,0,0.909722
26,2017-01-01 14:04:00,2017-01-11 14:04:00,2017-01-31 17:06:00,1,30.126389
27,2017-01-01 14:08:00,2017-01-02 14:08:00,2017-01-02 20:25:00,1,1.261806
28,2017-01-01 14:13:00,2017-01-11 14:13:00,2017-03-29 10:20:00,1,86.838194
29,2017-01-01 14:19:00,2017-01-02 14:19:00,2017-01-01 15:10:00,0,0.035417
...,...,...,...,...,...
831,2017-01-04 08:35:00,2017-01-14 08:35:00,2017-01-04 14:50:00,0,0.260417
832,2017-01-04 08:36:00,2017-01-05 08:36:00,2017-01-05 14:15:00,1,1.235417
833,2017-01-04 08:36:00,2017-09-19 08:00:00,2017-01-19 15:49:00,0,15.300694
834,2017-01-04 08:37:00,2017-01-14 08:37:00,2017-01-04 12:25:00,0,0.158333
835,2017-01-04 08:38:00,2017-09-19 08:00:00,2017-01-11 15:47:00,0,7.297917
836,2017-01-04 08:39:00,2017-01-05 08:39:00,2017-01-04 14:05:00,0,0.226389
837,2017-01-04 08:40:00,2017-09-19 08:00:00,2017-01-13 17:48:00,0,9.380556
838,2017-01-04 08:40:00,2017-01-14 08:40:00,2017-01-11 00:35:00,0,6.663194
839,2017-01-04 08:40:00,2017-01-05 08:40:00,2017-01-24 14:50:00,1,20.256944
840,2017-01-04 08:41:00,2017-01-05 08:41:00,2017-01-04 09:45:00,0,0.044444
841,2017-01-04 08:45:00,2017-01-10 08:00:00,2017-01-05 14:15:00,0,1.229167
842,2017-01-04 08:48:00,2017-09-19 08:00:00,2017-05-10 16:16:00,0,126.311111
843,2017-01-04 08:50:00,2017-01-14 08:50:00,2017-01-12 08:30:00,0,7.986111
844,2017-01-04 08:52:00,2017-01-05 08:52:00,2017-01-05 01:55:00,0,0.710417
845,2017-01-04 08:53:00,2017-01-05 08:53:00,2017-01-04 20:25:00,0,0.480556
846,2017-01-04 08:54:00,2017-01-10 08:00:00,2017-04-25 17:26:00,1,111.355556
847,2017-01-04 08:54:00,2017-01-13 08:00:00,2017-01-27 11:00:00,1,23.087500
848,2017-01-04 08:57:00,2017-01-18 15:14:00,2017-01-11 15:15:00,0,7.262500
849,2017-01-04 08:59:00,2017-01-10 08:00:00,2017-01-11 07:46:00,1,6.949306
850,2017-01-04 09:02:00,2017-01-05 09:02:00,2017-01-04 19:05:00,0,0.418750
851,2017-01-04 09:02:00,2017-01-05 09:02:00,2017-01-05 16:20:00,1,1.304167
852,2017-01-04 09:03:00,2017-01-06 09:03:00,2017-01-04 10:50:00,0,0.074306
853,2017-01-04 09:05:00,2017-01-14 09:05:00,2017-01-09 18:47:00,0,5.404167
854,2017-01-04 09:05:00,2017-01-10 08:00:00,2017-01-05 14:16:00,0,1.215972
855,2017-01-04 09:06:00,2017-01-05 09:06:00,2017-01-04 13:45:00,0,0.193750
856,2017-01-04 09:06:00,2017-01-10 08:00:00,2017-01-11 11:11:00,1,7.086806
857,2017-01-04 09:08:00,2017-01-14 09:08:00,2017-01-04 13:50:00,0,0.195833
858,2017-01-04 09:08:00,2017-01-10 08:00:00,2017-01-19 07:37:00,1,14.936806
859,2017-01-04 09:08:00,2017-01-14 09:08:00,2017-01-04 12:10:00,0,0.126389
860,2017-01-04 09:09:00,2017-01-14 09:09:00,2017-01-04 11:50:00,0,0.111806

In [106]:
# bring in the weather data

weatherdata_df = pd.read_csv("../static/data/Final_selected_weather_data.csv")

print(weatherdata_df.shape)
weatherdata_df.head()

# checking the date lenght to make sure it matches with the 311 date length

# weatherdata_df["date_len"] = weatherdata_df["date_field"].str.len() 
# print(weatherdata_df[["date_field", "date_len"]])

(1180, 6)

   Unnamed: 0  date_field  tempMax  tempAvg  tempMin  precipitation
0           0  2017-01-01       74     67.5       64           0.30
1           1  2017-01-02       74     66.9       53           0.07
2           2  2017-01-03       75     61.9       49           1.22
3           3  2017-01-04       52     46.5       42           0.00
4           4  2017-01-05       56     50.4       44           0.00

In [107]:
# bring in the census data

censusdata_df = pd.read_csv("../Clean Data Files/census_data.csv")
censusdata_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Total Households,Total Owner Occupied,% Owner Occupied
0,77002,12370.0,34.1,72306.0,34779.0,6.984640,4457.0,1213.0,27.215616
1,77003,9646.0,34.1,59575.0,37760.0,27.628032,9597.0,4731.0,49.296655
2,77004,37642.0,28.3,48592.0,31067.0,19.733277,28125.0,9997.0,35.544889
3,77005,28233.0,36.5,180758.0,100896.0,3.715510,25438.0,20433.0,80.324711
4,77006,21945.0,34.3,82878.0,68705.0,7.304625,21280.0,8945.0,42.034774

In [108]:
# merge weather data into the 311 data

data_all1_df = data311_df.merge(weatherdata_df, how="left", left_on="create_date", right_on="date_field")

print(data_all1_df.shape)
data_all1_df.head()

# print(data_all[data_all["date_field"] == "2017-01-04"])

(861, 46)

,index,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,...,date_closed_time,time_to_close,seconds_to_close,days_to_close,Unnamed: 0,date_field,tempMax,tempAvg,tempMin,precipitation
0,6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056",HARRIS,G,GREATER UPTOWN,4.514000e+11,NaN,NaN,NaN,...,2017-02-02 13:20:00,32 days 12:50:00,2811000.0,32.534722,0,2017-01-01,74,67.5,64,0.3
1,12,12091839-101002444736,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,2017-01-04 11:00:00,3 days 05:38:00,279480.0,3.234722,0,2017-01-01,74,67.5,64,0.3
2,13,12091840-101002444737,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,4.200500e+11,NE,NW,MONDAY,...,2017-01-04 03:40:00,2 days 22:17:00,253020.0,2.928472,0,2017-01-01,74,67.5,64,0.3
3,15,12091841-101002444739,"7612 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,2017-01-01 09:10:00,0 days 02:27:00,8820.0,0.102083,0,2017-01-01,74,67.5,64,0.3
4,23,12091843-101002444752,"7335 IWO JIMA, HOUSTON TX 77033",HARRIS,D,SOUTH PARK,7.518900e+11,SE,SE,FRIDAY,...,2017-01-01 11:20:00,0 days 02:35:00,9300.0,0.107639,0,2017-01-01,74,67.5,64,0.3

In [143]:
data_final_df = data_all1_df.merge(censusdata_df, how="left", left_on="zipcode", right_on="Zipcode") 

print(data_final_df.shape)

data_final_df = data_final_df.drop(columns=["Zipcode","date_field"])

print(data_final_df.columns.values)
# data_final_df.head()

data_final_df.describe()

data_final_df.isna().sum()

print(data_final_df[data_final_df["district"].isna()])

(861, 55)
['index' 'case number' 'sr location' 'county' 'district' 'neighborhood'
 'tax id' 'trash quad' 'recycle quad' 'trash day' 'heavy trash day'
 'recycle day' 'key map' 'management district' 'department' 'division'
 'sr type' 'queue' 'sla' 'status' 'sr create date' 'due date'
 'date closed' 'overdue' 'title' 'x' 'y' 'latitude' 'longitude'
 'channel type' 'zipcode' 'openclosetime' 'openduetime' 'year'
 'create_date' 'create_date_time' 'date_closed_time' 'time_to_close'
 'seconds_to_close' 'days_to_close' 'Unnamed: 0' 'tempMax' 'tempAvg'
 'tempMin' 'precipitation' 'Population' 'Median Age' 'Household Income'
 'Per Capita Income' 'Poverty Rate' 'Total Households'
 'Total Owner Occupied' '% Owner Occupied']
     index            case number                                 sr location  \
55     154  12091899-101002444887  5686 GRAND FLORAL, UNINCORPORATED TX 77041
263    735            1.01002E+11              1302 MCDUGALD, HUMBLE TX 77338
376   1009  12092234-101002445804    1119 RIVER GLYNN, HUNTERS CREEK TX 77063
639   1669  12092472-101002446612      8920 COURTNEY, UNINCORPORATED TX 77562

     county district neighborhood        tax id trash quad recycle quad  \
55   HARRIS      NaN          NaN  1.179010e+12        NaN          NaN
263  HARRIS      NaN          NaN  1.012870e+12        NaN          NaN
376  HARRIS      NaN          NaN  7.917700e+11        NaN          NaN
639  HARRIS      NaN          NaN  1.005680e+12        NaN          NaN

    trash day  ... tempMin precipitation Population Median Age  \
55        NaN  ...      64          0.30    35372.0       35.7
263       NaN  ...      53          0.07    40335.0       31.6
376       NaN  ...      49          1.22    38931.0       31.9
639       NaN  ...      49          1.22    10665.0       36.9

    Household Income Per Capita Income Poverty Rate Total Households  \
55           79503.0           37841.0    10.202985          35287.0
263          50263.0           21826.0    14.647329          40204.0
376          44957.0           32805.0    22.824998          38751.0
639          62077.0           26589.0    13.567745          10640.0

     Total Owner Occupied % Owner Occupied
55                27345.0        77.493128
263               23215.0        57.743011
376                9667.0        24.946453
639                7638.0        71.785714

[4 rows x 53 columns]

In [139]:
y=data_final_df["days_to_close"]

X_var=data_final_df[["district","sr type","tempMax","tempAvg","tempMin","precipitation","Population","Median Age",
                    "Household Income","Poverty Rate","% Owner Occupied"]]
X_var.isna().sum()

district            4
sr type             0
tempMax             0
tempAvg             0
tempMin             0
precipitation       0
Population          0
Median Age          0
Household Income    0
Poverty Rate        0
% Owner Occupied    0
dtype: int64