In [2]:
#Load dependencies and define data files to import
from datetime import datetime as dt, timedelta
import datetime
import pandas as pd
import numpy as np

url2017='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2017.txt'
url2018='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2018.txt'
url2019='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2019.txt'
url2020='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-monthly.txt'

In [3]:
#Create 2017 data frames
data2017=pd.read_csv(url2017,header=5,sep='|',error_bad_lines=False)

b'Skipping line 9979: expected 29 fields, saw 30\nSkipping line 16339: expected 29 fields, saw 30\n'
b'Skipping line 171264: expected 29 fields, saw 45\n'
b'Skipping line 210681: expected 29 fields, saw 30\n'
b'Skipping line 293912: expected 29 fields, saw 30\n'
b'Skipping line 327537: expected 29 fields, saw 30\n'

In [7]:
weather_data = pd.read_excel("../Clean Data Files/Weather_KIAHstation_2017-2020.xls")
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,windAvg,windMin,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,2.7,0,29.8,29.7,29.7,0.30,KIAH,houston,2017,1
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,8.3,0,29.8,29.7,29.6,0.07,KIAH,houston,2017,1
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,8.6,0,30.0,29.9,29.8,1.22,KIAH,houston,2017,1
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,8.1,0,30.1,30.0,29.9,0.00,KIAH,houston,2017,1
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,7.0,0,29.9,29.8,29.8,0.00,KIAH,houston,2017,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,10.8,5,30.2,30.1,30.1,1.04,KIAH,houston,2020,3
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,7.8,5,30.1,30.0,29.9,0.36,KIAH,houston,2020,3
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,7.4,0,30.0,29.9,29.8,0.01,KIAH,houston,2020,3
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,8.0,0,29.9,29.8,29.7,0.00,KIAH,houston,2020,3
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,6.4,0,29.8,29.8,29.7,0.00,KIAH,houston,2020,3

In [31]:
weather_data['date_field_str'] =  weather_data["Year"].astype(str) + '-' + weather_data["Month"].astype(str) + '-' + weather_data["dt"].astype(str)

In [37]:
weather_data['date_field'] = weather_data['date_field_str'].apply(pd.to_datetime,errors='coerce')

In [38]:
weather_data['date_field'] = weather_data['date_field'].dt.date

In [39]:
weather_data

,mont,dt,tempMax,tempAvg,tempMin,dewMax,dewAvg,dewMin,humMax,humAvg,...,presAvg,presMin,precTotal,StationCode,StationName,Year,Month,date_field,Year_st,date_field_str
0,Jan,1,74,67.5,64,66,63.8,62,97,88.1,...,29.7,29.7,0.30,KIAH,houston,2017,1,2017-01-01,2017,2017-1-1
1,Jan,2,74,66.9,53,70,62.2,51,97,86.1,...,29.7,29.6,0.07,KIAH,houston,2017,1,2017-01-02,2017,2017-1-2
2,Jan,3,75,61.9,49,52,46.3,40,93,61.1,...,29.9,29.8,1.22,KIAH,houston,2017,1,2017-01-03,2017,2017-1-3
3,Jan,4,52,46.5,42,42,38.7,35,93,74.7,...,30.0,29.9,0.00,KIAH,houston,2017,1,2017-01-04,2017,2017-1-4
4,Jan,5,56,50.4,44,51,45.8,38,90,84.1,...,29.8,29.8,0.00,KIAH,houston,2017,1,2017-01-05,2017,2017-1-5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1175,Mar,21,61,57.5,54,58,53.9,50,93,87.8,...,30.1,30.1,1.04,KIAH,houston,2020,3,2020-03-21,2020,2020-3-21
1176,Mar,22,77,67.5,58,70,63.1,57,97,86.2,...,30.0,29.9,0.36,KIAH,houston,2020,3,2020-03-22,2020,2020-3-22
1177,Mar,23,84,74.7,70,70,67.7,66,93,79.6,...,29.9,29.8,0.01,KIAH,houston,2020,3,2020-03-23,2020,2020-3-23
1178,Mar,24,87,77.3,72,69,67.7,64,87,73.7,...,29.8,29.7,0.00,KIAH,houston,2020,3,2020-03-24,2020,2020-3-24
1179,Mar,25,89,77.5,72,71,67.3,60,91,73.5,...,29.8,29.7,0.00,KIAH,houston,2020,3,2020-03-25,2020,2020-3-25

In [8]:
data2017=data2017.drop(data2017.index[0]).reset_index(drop=True)
data2017.columns=['case number','sr location','county','district','neighborhood','tax id','trash quad','recycle quad','trash day','heavy trash day','recycle day','key map',
                'management district','department','division','sr type','queue','sla','status','sr create date','due date','date closed','overdue','title','x','y','latitude',
                'longitude','channel type']
data2017[['sr create date','due date','date closed']]=data2017[['sr create date','due date','date closed']].apply(pd.to_datetime,errors='coerce')
data2017

,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,heavy trash day,...,sr create date,due date,date closed,overdue,title,x,y,latitude,longitude,channel type
0,12091834-101002444724,"7237 RHOBELL, HOUSTON TX 77016 ...",HARRIS,B,EAST LITTLE YORK / HOMESTEAD,0825260000007,NE,NW,TUESDAY,2nd Tuesday,...,2017-01-01 00:01:48,2017-01-13 00:01:48,2017-01-01 11:20:02,-11.53,Fire Hydrant-101002444724 ...,3142093.87216000000,13877642.08478000000,29.85674295,-95.29694519,Voice In
1,12091835-101002444725,"7613 APPLETON, HOUSTON TX 77022 ...",HARRIS,H,NORTHSIDE/NORTHLINE,0710210010005,NE,NW,MONDAY,3rd Monday,...,2017-01-01 00:07:29,2017-01-13 00:07:29,2017-01-01 04:50:02,-11.80,Fire Hydrant-101002444725 ...,3119895.80632000000,13867379.46029000000,29.83044921,-95.36794687,Voice In
2,101002444726,Intersection 3900 S GESSNER RD&10000 WESTPARK ...,Harris County,F,MID WEST,NULL,,,,,...,2017-01-01 00:14:04,2017-01-02 00:14:04,2017-01-01 00:23:57,-0.99,Traffic Signal Maintenance-101002444726 ...,3066827.71298000000,13826351.51512000000,29.72209924,-95.53907768,Voice In
3,101002444727,"1411 BONNER, HOUSTON TX 77007 ...",HARRIS,C,WASHINGTON AVENUE COALITION / MEMORIAL P,0221020000009,NW,NW,MONDAY,1st Wednesday,...,2017-01-01 00:17:23,2017-01-08 00:17:23,2017-01-04 14:01:37,-3.43,Code Violation Report for Multi-Family Housing...,NULL,NULL,29.77385877,-95.40257152,WEB
4,169116-101002444728,NULL ...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,2017-01-01 00:18:07,2017-01-03 08:00:00,2017-01-01 14:30:33,-1.73,Other - 169116 ...,3103546.27246000000,13855223.23099000000,Unknown,Unknown,WAP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
364271,12202634-101002866093,"20811 FOX CLIFF, UNINCORPORATED TX 77338 ...",HARRIS,,,1253970010008,,,,,...,2017-12-31 23:02:14,2018-01-10 23:02:13,2017-12-31 23:20:03,-9.99,Water Leak-101002866093 ...,3133543.11170000000,13937515.22717000000,30.02204559,-95.31796178,Voice In
364272,101002866094,"8414 AMBLEWOOD, HOUSTON TX 77072 ...",HARRIS,F,ALIEF,1002890000002,SW,SW,MONDAY,1st Monday,...,2017-12-31 23:04:27,2018-01-24 23:04:27,2018-01-22 17:18:47,-2.24,Request a New Recycling Container ...,NULL,NULL,29.68568433,-95.58144224,Unknown
364273,101002866095,"8414 AMBLEWOOD, HOUSTON TX 77072 ...",HARRIS,F,ALIEF,1002890000002,SW,SW,MONDAY,1st Monday,...,2017-12-31 23:05:28,2018-01-10 23:05:28,2018-01-03 17:37:08,-7.23,Repair or Replace Damaged or Missing Container...,NULL,NULL,29.68568433,-95.58144224,Unknown
364274,Warning: Null value is eliminated by an aggreg...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
364275,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
data2017['date_field'] = data2017['sr create date'].dt.date

In [46]:
alldata2017 = data2017.merge(weather_data,  on="date_field")

In [48]:
alldata2017.head(10)

,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,heavy trash day,...,presMax,presAvg,presMin,precTotal,StationCode,StationName,Year,Month,Year_st,date_field_str
0,12091834-101002444724,"7237 RHOBELL, HOUSTON TX 77016 ...",HARRIS,B,EAST LITTLE YORK / HOMESTEAD,0825260000007,NE,NW,TUESDAY,2nd Tuesday,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
1,12091835-101002444725,"7613 APPLETON, HOUSTON TX 77022 ...",HARRIS,H,NORTHSIDE/NORTHLINE,0710210010005,NE,NW,MONDAY,3rd Monday,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
2,101002444726,Intersection 3900 S GESSNER RD&10000 WESTPARK ...,Harris County,F,MID WEST,NULL,,,,,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
3,101002444727,"1411 BONNER, HOUSTON TX 77007 ...",HARRIS,C,WASHINGTON AVENUE COALITION / MEMORIAL P,0221020000009,NW,NW,MONDAY,1st Wednesday,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
4,169116-101002444728,NULL ...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
5,169117-101002444729,NULL ...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056 ...",HARRIS,G,GREATER UPTOWN,0451400060009,,,,,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
7,12091837-101002444731,"2304 A BEVIS, HOUSTON TX 77008 ...",HARRIS,C,GREATER HEIGHTS,1352490010003,NW,NW,THURSDAY,3rd Wednesday,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
8,169124-101002444732,NULL ...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1
9,101002444733,Intersection 1400 CAROLINE ST&1300 CLAY ST ...,Harris County,I,DOWNTOWN,NULL,,,,,...,29.8,29.7,29.7,0.3,KIAH,houston,2017,1,2017,2017-1-1

In [57]:
alldata2017["time_to_complete_hrs"] = (alldata2017["date closed"]-alldata2017["sr create date"]).astype('timedelta64[h]')
alldata2017["time_to_complete_days"] = (alldata2017["time_to_complete_hrs"] /24)
alldata2017["time_to_complete_days"] = alldata2017["time_to_complete_days"].apply(np.ceil)

In [58]:
alldata2017.head(5)

,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,heavy trash day,...,precTotal,StationCode,StationName,Year,Month,Year_st,date_field_str,time_to_complete,time_to_complete_days,time_to_complete_hrs
0,12091834-101002444724,"7237 RHOBELL, HOUSTON TX 77016 ...",HARRIS,B,EAST LITTLE YORK / HOMESTEAD,0825260000007,NE,NW,TUESDAY,2nd Tuesday,...,0.3,KIAH,houston,2017,1,2017,2017-1-1,11.0,1.0,11.0
1,12091835-101002444725,"7613 APPLETON, HOUSTON TX 77022 ...",HARRIS,H,NORTHSIDE/NORTHLINE,0710210010005,NE,NW,MONDAY,3rd Monday,...,0.3,KIAH,houston,2017,1,2017,2017-1-1,4.0,1.0,4.0
2,101002444726,Intersection 3900 S GESSNER RD&10000 WESTPARK ...,Harris County,F,MID WEST,NULL,,,,,...,0.3,KIAH,houston,2017,1,2017,2017-1-1,0.0,0.0,0.0
3,101002444727,"1411 BONNER, HOUSTON TX 77007 ...",HARRIS,C,WASHINGTON AVENUE COALITION / MEMORIAL P,0221020000009,NW,NW,MONDAY,1st Wednesday,...,0.3,KIAH,houston,2017,1,2017,2017-1-1,85.0,4.0,85.0
4,169116-101002444728,NULL ...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,0.3,KIAH,houston,2017,1,2017,2017-1-1,14.0,1.0,14.0

In [64]:
alldata2017.to_csv("../clean Data Files/Hou311andWeather2017.csv", index=False)