In [1]:
#Load dependencies and define data files to import
from datetime import datetime as dt, timedelta
import pandas as pd
url2017='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2017.txt'
url2018='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2018.txt'
url2019='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2019.txt'
url2020='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-monthly.txt'

In [2]:
#Create 2017 data frames
data2017=pd.read_csv(url2017,header=5,sep='|',error_bad_lines=False)
data2017=data2017.drop(data2017.index[0]).reset_index(drop=True)
data2017.columns=['case number','sr location','county','district','neighborhood','tax id','trash quad','recycle quad','trash day','heavy trash day','recycle day','key map',
                'management district','department','division','sr type','queue','sla','status','sr create date','due date','date closed','overdue','title','x','y','latitude',
                'longitude','channel type']
data2017[['sr create date','due date','date closed']]=data2017[['sr create date','due date','date closed']].apply(pd.to_datetime,errors='coerce')
top2017=data2017.groupby(['sr type'])['case number'].count().sort_values(ascending=False).head(20)
data2017.shape

b'Skipping line 9979: expected 29 fields, saw 30\nSkipping line 16339: expected 29 fields, saw 30\n'
b'Skipping line 211068: expected 29 fields, saw 30\n'
b'Skipping line 294299: expected 29 fields, saw 30\n'
b'Skipping line 327924: expected 29 fields, saw 30\n'

(364664, 29)

In [4]:
#Create 2018 data frames
data2018=pd.read_csv(url2018,header=5,sep='|',error_bad_lines=False)
data2018=data2018.drop(data2018.index[0]).reset_index(drop=True)
data2018.columns=['case number','sr location','county','district','neighborhood','tax id','trash quad','recycle quad','trash day','heavy trash day','recycle day','key map',
                'management district','department','division','sr type','queue','sla','status','sr create date','due date','date closed','overdue','title','x','y','latitude',
                'longitude','channel type']
data2018[['sr create date','due date','date closed']]=data2018[['sr create date','due date','date closed']].apply(pd.to_datetime,errors='coerce')
top2018=data2018.groupby(['sr type'])['case number'].count().sort_values(ascending=False).head(20)
data2018.shape

b'Skipping line 124864: expected 29 fields, saw 30\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(399953, 29)

In [5]:
#Create 2019 data frames
data2019=pd.read_csv(url2019,header=5,sep='|',error_bad_lines=False)
data2019=data2019.drop(data2019.index[0]).reset_index(drop=True)
data2019.columns=['case number','sr location','county','district','neighborhood','tax id','trash quad','recycle quad','trash day','heavy trash day','recycle day','key map',
                'management district','department','division','sr type','queue','sla','status','sr create date','due date','date closed','overdue','title','x','y','latitude',
                'longitude','channel type']
data2019[['sr create date','due date','date closed']]=data2019[['sr create date','due date','date closed']].apply(pd.to_datetime,errors='coerce')
top2019=data2019.groupby(['sr type'])['case number'].count().sort_values(ascending=False).head(20)
data2019.shape

b'Skipping line 86859: expected 29 fields, saw 31\n'
b'Skipping line 124913: expected 29 fields, saw 30\n'
b'Skipping line 144497: expected 29 fields, saw 30\n'
b'Skipping line 218652: expected 29 fields, saw 31\n'
b'Skipping line 349873: expected 29 fields, saw 30\n'

(395258, 29)

In [9]:
#Create 2020 data frames
data2020=pd.read_csv(url2020,header=5,sep='|',error_bad_lines=False)
data2020=data2020.drop(data2020.index[0]).reset_index(drop=True)
data2020.columns=['case number','sr location','county','district','neighborhood','tax id','trash quad','recycle quad','trash day','heavy trash day','recycle day','key map',
                'management district','department','division','sr type','queue','sla','status','sr create date','due date','date closed','overdue','title','x','y','latitude',
                'longitude','channel type']
data2020[['sr create date','due date','date closed']]=data2020[['sr create date','due date','date closed']].apply(pd.to_datetime,errors='coerce')
top2020=data2020.groupby(['sr type'])['case number'].count().sort_values(ascending=False).head(20)
data2020.shape

(25483, 29)

In [6]:
data311=data2017.append([data2018,data2019])
data311['year']=data311['sr create date'].dt.year
types311=data311.groupby(['sr type','year'])['case number'].count().unstack('year').reset_index()
types311.columns=['sr type','2017','2018','2019']
data311.shape

(1159875, 30)

In [7]:
top2017

sr type
Missed Garbage Pickup                       26950
Container Problem                           25151
Water Leak                                  23661
Sewer Wastewater                            22585
Nuisance On Property                        18806
Traffic Signal Maintenance                  17424
Street Hazard                               13147
Missed Recycling Pickup                     12167
Storm Debris Collection                     10802
Water Service                               10778
Traffic Signs                               10595
Drainage                                     9382
Parking Violation                            8806
Dead Animal Collection                       8380
Trash Dumping or Illegal Dumpsite            7563
Heavy Trash Violation                        7476
Unclassified 311 Web Request                 7244
Recycling Cart Repair or Replace             6892
Street Condition                             6832
Missed Heavy Trash Pickup                    6416
Name: case number, dtype: int64

In [8]:
top2018

sr type
Water Leak                                  29560
Missed Garbage Pickup                       29035
Container Problem                           24369
Missed Recycling Pickup                     24051
Sewer Wastewater                            22476
Nuisance On Property                        21132
Missed Heavy Trash Pickup                   19502
Traffic Signal Maintenance                  15469
Water Service                               13423
Street Hazard                               13059
SWM Escalation                              12108
Drainage                                    10538
Traffic Signs                                9418
Parking Violation                            8923
Heavy Trash Violation                        8873
Dead Animal Collection                       8467
Street Condition                             8064
Trash Dumping or Illegal Dumpsite            7369
Building or Sign Code                        7302
Unclassified 311 Web Request                 6905
Name: case number, dtype: int64

In [9]:
top2019

sr type
Missed Garbage Pickup                       26304
Water Leak                                  25188
Container Problem                           24827
Sewer Wastewater                            22495
Traffic Signal Maintenance                  20170
Missed Heavy Trash Pickup                   19805
Nuisance On Property                        19456
Missed Recycling Pickup                     18735
Street Hazard                               13276
Water Service                               11403
Drainage                                    10749
SWM Escalation                              10255
Street Condition                            10026
Traffic Signs                                9474
Parking Violation                            9216
Dead Animal Collection                       8274
Heavy Trash Violation                        8198
Recycling Cart Repair or Replace             7871
Recycling Participation NEW                  7745
Pothole                                      7650
Name: case number, dtype: int64

In [10]:
top2020

sr type
Sewer Wastewater                            1643
Missed Garbage Pickup                       1492
Water Leak                                  1485
Container Problem                           1253
Water Service                               1023
Missed Recycling Pickup                      926
Nuisance On Property                         866
Traffic Signal Maintenance                   836
Dead Animal Collection                       603
Missed Heavy Trash Pickup                    593
Street Hazard                                548
Heavy Trash Violation                        532
Traffic Signs                                516
Parking Violation                            507
New Resident Container                       501
Recycling Participation NEW                  495
Missed Yard Waste Pickup                     493
Street Condition                             457
Building or Sign Code                        451
Drainage                                     450
Name: case number, dtype: int64

In [11]:
types311

                                      sr type     2017     2018     2019
0    Add A Bin                                    34.0     38.0     44.0
1    Add A Can                                  2406.0   2811.0   2696.0
2    Add A Can CANCELLATION                      550.0    592.0    604.0
3    Add A Cart                                   16.0     16.0     28.0
4    Add A Cart CANCELLATION                      32.0     21.0     54.0
..                                        ...      ...      ...      ...
162  Water Main Valve                           4015.0   5282.0   3609.0
163  Water Playground Repair                      73.0     48.0     43.0
164  Water Quality                              1877.0   1904.0   1297.0
165  Water Service                             10778.0  13423.0  11403.0
166  Water or Ground Pollution                   156.0    176.0    187.0

[167 rows x 4 columns]

In [12]:
types311.to_csv('../Clean Data Files/Houston 311 SR Types by Year.csv',index=False,header=True)

In [13]:
data311

,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,heavy trash day,...,due date,date closed,overdue,title,x,y,latitude,longitude,channel type,year
0,12091834-101002444724,"7237 RHOBELL, HOUSTON TX 77016 ...",HARRIS,B,EAST LITTLE YORK / HOMESTEAD,0825260000007,NE,NW,TUESDAY,2nd Tuesday,...,2017-01-13 00:01:48,2017-01-01 11:20:02,-11.53,Fire Hydrant-101002444724 ...,3142093.87216000000,13877642.08478000000,29.85674295,-95.29694519,Voice In,2017.0
1,12091835-101002444725,"7613 APPLETON, HOUSTON TX 77022 ...",HARRIS,H,NORTHSIDE/NORTHLINE,0710210010005,NE,NW,MONDAY,3rd Monday,...,2017-01-13 00:07:29,2017-01-01 04:50:02,-11.80,Fire Hydrant-101002444725 ...,3119895.80632000000,13867379.46029000000,29.83044921,-95.36794687,Voice In,2017.0
2,101002444726,Intersection 3900 S GESSNER RD&10000 WESTPARK ...,Harris County,F,MID WEST,NULL,,,,,...,2017-01-02 00:14:04,2017-01-01 00:23:57,-0.99,Traffic Signal Maintenance-101002444726 ...,3066827.71298000000,13826351.51512000000,29.72209924,-95.53907768,Voice In,2017.0
3,101002444727,"1411 BONNER, HOUSTON TX 77007 ...",HARRIS,C,WASHINGTON AVENUE COALITION / MEMORIAL P,0221020000009,NW,NW,MONDAY,1st Wednesday,...,2017-01-08 00:17:23,2017-01-04 14:01:37,-3.43,Code Violation Report for Multi-Family Housing...,NULL,NULL,29.77385877,-95.40257152,WEB,2017.0
4,169116-101002444728,NULL ...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,2017-01-03 08:00:00,2017-01-01 14:30:33,-1.73,Other - 169116 ...,3103546.27246000000,13855223.23099000000,Unknown,Unknown,WAP,2017.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395253,101003785785,"3415 WENTWORTH, HOUSTON TX 77004 ...",HARRIS,D,MACGREGOR,0700280060004,SE,SW,TUESDAY,3rd Friday,...,2020-01-06 08:00:00,2020-01-02 17:34:53,-3.60,Missed Recycling Collection Report-10100378578...,3123402.03914000000,13826736.06520000000,29.71843436,-95.3608818,Voice In,2019.0
395254,20024521-101003785786,"11035 AVON BROOK, HOUSTON TX 77034 ...",HARRIS,E,SOUTH BELT / ELLINGTON,1319170030001,SE,SE,THURSDAY,2nd Thursday,...,2020-01-10 23:48:27,2020-01-01 09:59:21,-9.58,Water Leak-101003785786 ...,3177810.28564000000,13786520.63284000000,29.60313269,-95.19368163,Voice In,2019.0
395255,20024522-101003785787,"11035 AVON BROOK, HOUSTON TX 77034 ...",HARRIS,E,SOUTH BELT / ELLINGTON,1319170030001,SE,SE,THURSDAY,2nd Thursday,...,2020-01-02 23:49:00,2020-01-01 04:49:22,-1.79,Water Service-101003785787 ...,3177810.28564000000,13786520.63284000000,29.60313269,-95.19368163,Voice In,2019.0
395256,(395261 rows affected),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
395257,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
data2018.to_csv('../../311_cases_2018.csv',index=False,header=True)

In [7]:
data2017.to_csv('../../311_cases_2017.csv',index=False,header=True)

In [8]:
data2019.to_csv('../../311_cases_2019.csv',index=False,header=True)

In [10]:
data2020.to_csv('../../311_cases_2020.csv',index=False,header=True)

In [13]:
data2018["time_to_complete_hrs"] = (data2018["date closed"]-data2018["sr create date"]).astype('timedelta64[h]')
data2018["time_to_complete_days"] = (data2018["time_to_complete_hrs"] /24)
data2018["time_to_complete_days"] = data2018["time_to_complete_days"].apply(np.ceil)

In [14]:
data2017["time_to_complete_hrs"] = (data2017["date closed"]-data2017["sr create date"]).astype('timedelta64[h]')
data2017["time_to_complete_days"] = (data2017["time_to_complete_hrs"] /24)
data2017["time_to_complete_days"] = data2017["time_to_complete_days"].apply(np.ceil)

In [15]:
from uszipcode import SearchEngine

In [16]:
search=SearchEngine(simple_zipcode=False)
def zipinfo(lat,lng):
    zipdata=search.by_coordinates(lat,lng,radius=3,returns=1)
    for zipcode in zipdata:
        return zipcode.zipcode

Start downloading data for rich info zipcode database, total size 450+MB ...
  10 MB finished ...
  20 MB finished ...
  30 MB finished ...
  40 MB finished ...
  50 MB finished ...
  60 MB finished ...
  70 MB finished ...
  80 MB finished ...
  90 MB finished ...
  100 MB finished ...
  110 MB finished ...
  120 MB finished ...
  130 MB finished ...
  140 MB finished ...
  150 MB finished ...
  160 MB finished ...
  170 MB finished ...
  180 MB finished ...
  190 MB finished ...
  200 MB finished ...
  210 MB finished ...
  220 MB finished ...
  230 MB finished ...
  240 MB finished ...
  250 MB finished ...
  260 MB finished ...
  270 MB finished ...
  280 MB finished ...
  290 MB finished ...
  300 MB finished ...
  310 MB finished ...
  320 MB finished ...
  330 MB finished ...
  340 MB finished ...
  350 MB finished ...
  360 MB finished ...
  370 MB finished ...
  380 MB finished ...
  390 MB finished ...
  400 MB finished ...
  410 MB finished ...
  420 MB finished ...
  430 MB finished ...
  440 MB finished ...
  Complete!

In [17]:
data2017['date_field'] = data2017['sr create date'].dt.date

In [18]:
data2017['zipcode']='77'+data2017['sr location'].str.extract(r'77(\d{3}\-?\d{0,4})')

In [19]:
data2017.head()

,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,heavy trash day,...,title,x,y,latitude,longitude,channel type,time_to_complete_hrs,time_to_complete_days,date_field,zipcode
0,12091834-101002444724,"7237 RHOBELL, HOUSTON TX 77016 ...",HARRIS,B,EAST LITTLE YORK / HOMESTEAD,0825260000007,NE,NW,TUESDAY,2nd Tuesday,...,Fire Hydrant-101002444724 ...,3142093.87216000000,13877642.08478000000,29.85674295,-95.29694519,Voice In,11.0,1.0,2017-01-01,77016
1,12091835-101002444725,"7613 APPLETON, HOUSTON TX 77022 ...",HARRIS,H,NORTHSIDE/NORTHLINE,0710210010005,NE,NW,MONDAY,3rd Monday,...,Fire Hydrant-101002444725 ...,3119895.80632000000,13867379.46029000000,29.83044921,-95.36794687,Voice In,4.0,1.0,2017-01-01,77022
2,101002444726,Intersection 3900 S GESSNER RD&10000 WESTPARK ...,Harris County,F,MID WEST,NULL,,,,,...,Traffic Signal Maintenance-101002444726 ...,3066827.71298000000,13826351.51512000000,29.72209924,-95.53907768,Voice In,0.0,0.0,2017-01-01,NaN
3,101002444727,"1411 BONNER, HOUSTON TX 77007 ...",HARRIS,C,WASHINGTON AVENUE COALITION / MEMORIAL P,0221020000009,NW,NW,MONDAY,1st Wednesday,...,Code Violation Report for Multi-Family Housing...,NULL,NULL,29.77385877,-95.40257152,WEB,85.0,4.0,2017-01-01,77007
4,169116-101002444728,NULL ...,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,Unknown,...,Other - 169116 ...,3103546.27246000000,13855223.23099000000,Unknown,Unknown,WAP,14.0,1.0,2017-01-01,NaN

In [23]:
data2017WithZip = data2017[data2017['zipcode'].str.len() == 5]

In [27]:
data2017WithZip.columns

Index(['case number', 'sr location', 'county', 'district', 'neighborhood',
       'tax id', 'trash quad', 'recycle quad', 'trash day', 'heavy trash day',
       'recycle day', 'key map', 'management district', 'department',
       'division', 'sr type', 'queue', 'sla', 'status', 'sr create date',
       'due date', 'date closed', 'overdue', 'title', 'x', 'y', 'latitude',
       'longitude', 'channel type', 'time_to_complete_hrs',
       'time_to_complete_days', 'date_field', 'zipcode'],
      dtype='object')

In [45]:
#data2017WithZipA = data2017WithZip[data2017WithZip.sla.apply(lambda x: x.isnumeric())]
data2017WithZip = data2017WithZip[pd.to_numeric(data2017WithZip['sla'], errors='coerce').notnull()]
data2017WithZip = data2017WithZip[pd.to_numeric(data2017WithZip['overdue'], errors='coerce').notnull()]
data2017WithZip['sla'] = data2017WithZip['sla'].astype(float)
data2017WithZip['overdue'] = data2017WithZip['overdue'].astype(float)

In [46]:
print(data2017WithZip.shape)
data2017WithZip.dtypes

(289506, 33)

case number                      object
sr location                      object
county                           object
district                         object
neighborhood                     object
tax id                           object
trash quad                       object
recycle quad                     object
trash day                        object
heavy trash day                  object
recycle day                      object
key map                          object
management district              object
department                       object
division                         object
sr type                          object
queue                            object
sla                             float64
status                           object
sr create date           datetime64[ns]
due date                 datetime64[ns]
date closed              datetime64[ns]
overdue                         float64
title                            object
x                                object
y                                object
latitude                         object
longitude                        object
channel type                     object
time_to_complete_hrs            float64
time_to_complete_days           float64
date_field                       object
zipcode                          object
dtype: object

In [59]:
dataAgg = data2017WithZip.groupby(['zipcode', 'date_field', 'sr type', 'neighborhood']).agg(
    # Get max of the duration column for each group
    avg_sla=('sla', 'mean'),
    count_issues=('title', 'count'),
    # Get min of the duration column for each group
    avg_overdue=('overdue', 'mean'))

In [60]:
dataAgg

                                                                                                      avg_sla  \
zipcode date_field sr type                                  neighborhood
77002   2017-01-02 Sewer Manhole                            DOWNTOWN                                      5.0
        2017-01-03 Parking Meter                            DOWNTOWN                                     18.0
                   Sewer Wastewater                         MIDTOWN                                       1.0
                   Street Hazard                            DOWNTOWN                                     10.0
                   Traffic Signal Maintenance               MIDTOWN                                       1.0
...                                                                                                       ...
77598   2017-12-28 Water Service                            CLEAR LAKE                                    2.0
        2017-12-29 Sewer Wastewater                         CLEAR LAKE                                    1.0
        2017-12-30 Sewer Wastewater                         CLEAR LAKE                                    1.0
77704   2017-04-21 Nuisance On Property                     CARVERDALE                                  180.0
        2017-11-24 Building or Sign Code                    CARVERDALE                                    7.0

                                                                                                      count_issues  \
zipcode date_field sr type                                  neighborhood
77002   2017-01-02 Sewer Manhole                            DOWNTOWN                                             1
        2017-01-03 Parking Meter                            DOWNTOWN                                             1
                   Sewer Wastewater                         MIDTOWN                                              1
                   Street Hazard                            DOWNTOWN                                             1
                   Traffic Signal Maintenance               MIDTOWN                                              1
...                                                                                                            ...
77598   2017-12-28 Water Service                            CLEAR LAKE                                           1
        2017-12-29 Sewer Wastewater                         CLEAR LAKE                                           4
        2017-12-30 Sewer Wastewater                         CLEAR LAKE                                           2
77704   2017-04-21 Nuisance On Property                     CARVERDALE                                           1
        2017-11-24 Building or Sign Code                    CARVERDALE                                           1

                                                                                                      avg_overdue
zipcode date_field sr type                                  neighborhood
77002   2017-01-02 Sewer Manhole                            DOWNTOWN                                      -4.7300
        2017-01-03 Parking Meter                            DOWNTOWN                                      -8.3500
                   Sewer Wastewater                         MIDTOWN                                       -0.8300
                   Street Hazard                            DOWNTOWN                                      -9.2600
                   Traffic Signal Maintenance               MIDTOWN                                       -0.7700
...                                                                                                           ...
77598   2017-12-28 Water Service                            CLEAR LAKE                                    -1.5400
        2017-12-29 Sewer Wastewater                         CLEAR LAKE                                    -0.8225
        2017-12-30 Sewer Wastewater                         CLEAR LAKE                                     8.6700
77704   2017-04-21 Nuisance On Property                     CARVERDALE                                  -212.7600
        2017-11-24 Building or Sign Code                    CARVERDALE                                    -3.0300

[196227 rows x 3 columns]

In [61]:
dataAgg['avg_time'] = dataAgg['avg_sla'] +  dataAgg['avg_overdue']

In [62]:
dataAgg

                                                                                                      avg_sla  \
zipcode date_field sr type                                  neighborhood
77002   2017-01-02 Sewer Manhole                            DOWNTOWN                                      5.0
        2017-01-03 Parking Meter                            DOWNTOWN                                     18.0
                   Sewer Wastewater                         MIDTOWN                                       1.0
                   Street Hazard                            DOWNTOWN                                     10.0
                   Traffic Signal Maintenance               MIDTOWN                                       1.0
...                                                                                                       ...
77598   2017-12-28 Water Service                            CLEAR LAKE                                    2.0
        2017-12-29 Sewer Wastewater                         CLEAR LAKE                                    1.0
        2017-12-30 Sewer Wastewater                         CLEAR LAKE                                    1.0
77704   2017-04-21 Nuisance On Property                     CARVERDALE                                  180.0
        2017-11-24 Building or Sign Code                    CARVERDALE                                    7.0

                                                                                                      count_issues  \
zipcode date_field sr type                                  neighborhood
77002   2017-01-02 Sewer Manhole                            DOWNTOWN                                             1
        2017-01-03 Parking Meter                            DOWNTOWN                                             1
                   Sewer Wastewater                         MIDTOWN                                              1
                   Street Hazard                            DOWNTOWN                                             1
                   Traffic Signal Maintenance               MIDTOWN                                              1
...                                                                                                            ...
77598   2017-12-28 Water Service                            CLEAR LAKE                                           1
        2017-12-29 Sewer Wastewater                         CLEAR LAKE                                           4
        2017-12-30 Sewer Wastewater                         CLEAR LAKE                                           2
77704   2017-04-21 Nuisance On Property                     CARVERDALE                                           1
        2017-11-24 Building or Sign Code                    CARVERDALE                                           1

                                                                                                      avg_overdue  \
zipcode date_field sr type                                  neighborhood
77002   2017-01-02 Sewer Manhole                            DOWNTOWN                                      -4.7300
        2017-01-03 Parking Meter                            DOWNTOWN                                      -8.3500
                   Sewer Wastewater                         MIDTOWN                                       -0.8300
                   Street Hazard                            DOWNTOWN                                      -9.2600
                   Traffic Signal Maintenance               MIDTOWN                                       -0.7700
...                                                                                                           ...
77598   2017-12-28 Water Service                            CLEAR LAKE                                    -1.5400
        2017-12-29 Sewer Wastewater                         CLEAR LAKE                                    -0.8225
        2017-12-30 Sewer Wastewater                         CLEAR LAKE                                     8.6700
77704   2017-04-21 Nuisance On Property                     CARVERDALE                                  -212.7600
        2017-11-24 Building or Sign Code                    CARVERDALE                                    -3.0300

                                                                                                      avg_time
zipcode date_field sr type                                  neighborhood
77002   2017-01-02 Sewer Manhole                            DOWNTOWN                                    0.2700
        2017-01-03 Parking Meter                            DOWNTOWN                                    9.6500
                   Sewer Wastewater                         MIDTOWN                                     0.1700
                   Street Hazard                            DOWNTOWN                                    0.7400
                   Traffic Signal Maintenance               MIDTOWN                                     0.2300
...                                                                                                        ...
77598   2017-12-28 Water Service                            CLEAR LAKE                                  0.4600
        2017-12-29 Sewer Wastewater                         CLEAR LAKE                                  0.1775
        2017-12-30 Sewer Wastewater                         CLEAR LAKE                                  9.6700
77704   2017-04-21 Nuisance On Property                     CARVERDALE                                -32.7600
        2017-11-24 Building or Sign Code                    CARVERDALE                                  3.9700

[196227 rows x 4 columns]

In [63]:
dataAgg.to_csv("../static/data/agg_hist_311_data.csv")
#data2019.to_csv('../../311_cases_2019.csv',index=False,header=True)