In [1]:
import pandas as pd

In [53]:
# bring in the 311 data

data311_df = pd.read_csv("../Clean Data Files/modelstartdata.csv")


print(data311_df.columns.values)
# print(data311_df["sr create date"])
data311_df.head()

['index' 'case number' 'sr location' 'county' 'district' 'neighborhood'
 'tax id' 'trash quad' 'recycle quad' 'trash day' 'heavy trash day'
 'recycle day' 'key map' 'management district' 'department' 'division'
 'sr type' 'queue' 'sla' 'status' 'sr create date' 'due date'
 'date closed' 'overdue' 'title' 'x' 'y' 'latitude' 'longitude'
 'channel type' 'zipcode' 'openclosetime' 'openduetime' 'year']

,index,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,...,title,x,y,latitude,longitude,channel type,zipcode,openclosetime,openduetime,year
0,6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056",HARRIS,G,GREATER UPTOWN,4.514000e+11,NaN,NaN,NaN,...,Water Leak-101002444730,3089853.524,13831195.74,29.733522,-95.466104,Voice In,77056,32 days 12:49:18.000000000,9 days 23:59:59.000000000,2017
1,12,12091839-101002444736,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,Sewer Wastewater-101002444736,3119884.277,13867666.56,29.831239,-95.367955,Voice In,77022,3 days 05:37:27.000000000,0 days 23:59:58.000000000,2017
2,13,12091840-101002444737,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,4.200500e+11,NE,NW,MONDAY,...,Water Service-101002444737,3119785.781,13867661.60,29.831234,-95.368266,Voice In,77022,2 days 22:16:31.000000000,2 days 00:00:00.000000000,2017
3,15,12091841-101002444739,"7612 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,Water Service-101002444739,3120069.146,13867375.14,29.830423,-95.367401,Voice In,77022,0 days 02:26:29.000000000,1 days 23:59:59.000000000,2017
4,23,12091843-101002444752,"7335 IWO JIMA, HOUSTON TX 77033",HARRIS,D,SOUTH PARK,7.518900e+11,SE,SE,FRIDAY,...,Water Leak-101002444752,3128978.891,13812277.81,29.678215,-95.344744,Voice In,77033,0 days 02:34:10.000000000,10 days 00:00:00.000000000,2017

In [56]:
# create a date value formatted the same as the weather data

splitdate = data311_df["sr create date"].str.split(" ", n=1, expand=True)

data311_df["create_date"] = splitdate[0]
data311_df["create_date"] = pd.to_datetime(data311_df["create_date"])
data311_df["create_date"] = data311_df['create_date'].dt.strftime('%Y-%m-%d')

# checking date length

# data311_df["date_len"] = data311_df["create_date"].str.len() 
# print(data311_df[["create_date", "date_len"]])

print(data311_df.shape)
print(data311_df.columns.values)
data311.head()

(861, 35)
['index' 'case number' 'sr location' 'county' 'district' 'neighborhood'
 'tax id' 'trash quad' 'recycle quad' 'trash day' 'heavy trash day'
 'recycle day' 'key map' 'management district' 'department' 'division'
 'sr type' 'queue' 'sla' 'status' 'sr create date' 'due date'
 'date closed' 'overdue' 'title' 'x' 'y' 'latitude' 'longitude'
 'channel type' 'zipcode' 'openclosetime' 'openduetime' 'year'
 'create_date']

,index,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,...,title,x,y,latitude,longitude,channel type,zipcode,openclosetime,openduetime,year
0,6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056",HARRIS,G,GREATER UPTOWN,4.514000e+11,NaN,NaN,NaN,...,Water Leak-101002444730,3089853.524,13831195.74,29.733522,-95.466104,Voice In,77056,32 days 12:49:18.000000000,9 days 23:59:59.000000000,2017
1,12,12091839-101002444736,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,Sewer Wastewater-101002444736,3119884.277,13867666.56,29.831239,-95.367955,Voice In,77022,3 days 05:37:27.000000000,0 days 23:59:58.000000000,2017
2,13,12091840-101002444737,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,4.200500e+11,NE,NW,MONDAY,...,Water Service-101002444737,3119785.781,13867661.60,29.831234,-95.368266,Voice In,77022,2 days 22:16:31.000000000,2 days 00:00:00.000000000,2017
3,15,12091841-101002444739,"7612 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,Water Service-101002444739,3120069.146,13867375.14,29.830423,-95.367401,Voice In,77022,0 days 02:26:29.000000000,1 days 23:59:59.000000000,2017
4,23,12091843-101002444752,"7335 IWO JIMA, HOUSTON TX 77033",HARRIS,D,SOUTH PARK,7.518900e+11,SE,SE,FRIDAY,...,Water Leak-101002444752,3128978.891,13812277.81,29.678215,-95.344744,Voice In,77033,0 days 02:34:10.000000000,10 days 00:00:00.000000000,2017

In [57]:
# bring in the weather data

weatherdata_df = pd.read_csv("../static/data/Final_selected_weather_data.csv")

print(weatherdata_df.shape)
weatherdata_df.head()

# checking the date lenght to make sure it matches with the 311 date length

# weatherdata_df["date_len"] = weatherdata_df["date_field"].str.len() 
# print(weatherdata_df[["date_field", "date_len"]])

(1180, 6)

   Unnamed: 0  date_field  tempMax  tempAvg  tempMin  precipitation
0           0  2017-01-01       74     67.5       64           0.30
1           1  2017-01-02       74     66.9       53           0.07
2           2  2017-01-03       75     61.9       49           1.22
3           3  2017-01-04       52     46.5       42           0.00
4           4  2017-01-05       56     50.4       44           0.00

In [10]:
# bring in the census data

censusdata_df = pd.read_csv("../Clean Data Files/census_data.csv")
censusdata_df.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Total Households,Total Owner Occupied,% Owner Occupied
0,77002,12370.0,34.1,72306.0,34779.0,6.984640,4457.0,1213.0,27.215616
1,77003,9646.0,34.1,59575.0,37760.0,27.628032,9597.0,4731.0,49.296655
2,77004,37642.0,28.3,48592.0,31067.0,19.733277,28125.0,9997.0,35.544889
3,77005,28233.0,36.5,180758.0,100896.0,3.715510,25438.0,20433.0,80.324711
4,77006,21945.0,34.3,82878.0,68705.0,7.304625,21280.0,8945.0,42.034774

In [65]:
# merge weather data into the 311 data

data_all1_df = data311_df.merge(weatherdata_df, how="left", left_on="create_date", right_on="date_field")

print(data_all1_df.shape)
data_all1_df.head()

# print(data_all[data_all["date_field"] == "2017-01-04"])

(861, 41)

,index,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,...,openclosetime,openduetime,year,create_date,Unnamed: 0,date_field,tempMax,tempAvg,tempMin,precipitation
0,6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056",HARRIS,G,GREATER UPTOWN,4.514000e+11,NaN,NaN,NaN,...,32 days 12:49:18.000000000,9 days 23:59:59.000000000,2017,2017-01-01,0,2017-01-01,74,67.5,64,0.3
1,12,12091839-101002444736,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,3 days 05:37:27.000000000,0 days 23:59:58.000000000,2017,2017-01-01,0,2017-01-01,74,67.5,64,0.3
2,13,12091840-101002444737,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,4.200500e+11,NE,NW,MONDAY,...,2 days 22:16:31.000000000,2 days 00:00:00.000000000,2017,2017-01-01,0,2017-01-01,74,67.5,64,0.3
3,15,12091841-101002444739,"7612 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,0 days 02:26:29.000000000,1 days 23:59:59.000000000,2017,2017-01-01,0,2017-01-01,74,67.5,64,0.3
4,23,12091843-101002444752,"7335 IWO JIMA, HOUSTON TX 77033",HARRIS,D,SOUTH PARK,7.518900e+11,SE,SE,FRIDAY,...,0 days 02:34:10.000000000,10 days 00:00:00.000000000,2017,2017-01-01,0,2017-01-01,74,67.5,64,0.3

In [70]:
data_final_df = data_all1_df.merge(censusdata_df, how="left", left_on="zipcode", right_on="Zipcode") 

print(data_final_df.shape)

data_final_df = data_final_df.drop(columns=["Zipcode","date_field"])

print(data_final_df.columns.values)
data_final_df.head()

(861, 50)
['index' 'case number' 'sr location' 'county' 'district' 'neighborhood'
 'tax id' 'trash quad' 'recycle quad' 'trash day' 'heavy trash day'
 'recycle day' 'key map' 'management district' 'department' 'division'
 'sr type' 'queue' 'sla' 'status' 'sr create date' 'due date'
 'date closed' 'overdue' 'title' 'x' 'y' 'latitude' 'longitude'
 'channel type' 'zipcode' 'openclosetime' 'openduetime' 'year'
 'create_date' 'Unnamed: 0' 'tempMax' 'tempAvg' 'tempMin' 'precipitation'
 'Population' 'Median Age' 'Household Income' 'Per Capita Income'
 'Poverty Rate' 'Total Households' 'Total Owner Occupied'
 '% Owner Occupied']

,index,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,...,tempMin,precipitation,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Total Households,Total Owner Occupied,% Owner Occupied
0,6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056",HARRIS,G,GREATER UPTOWN,4.514000e+11,NaN,NaN,NaN,...,64,0.3,21732.0,39.1,107003.0,89180.0,5.268728,21641.0,10643.0,49.179798
1,12,12091839-101002444736,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,64,0.3,27364.0,34.1,30164.0,14924.0,29.399942,27186.0,13143.0,48.344736
2,13,12091840-101002444737,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,4.200500e+11,NE,NW,MONDAY,...,64,0.3,27364.0,34.1,30164.0,14924.0,29.399942,27186.0,13143.0,48.344736
3,15,12091841-101002444739,"7612 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,7.102100e+11,NE,NW,MONDAY,...,64,0.3,27364.0,34.1,30164.0,14924.0,29.399942,27186.0,13143.0,48.344736
4,23,12091843-101002444752,"7335 IWO JIMA, HOUSTON TX 77033",HARRIS,D,SOUTH PARK,7.518900e+11,SE,SE,FRIDAY,...,64,0.3,29692.0,34.7,33750.0,14954.0,28.398222,29567.0,17485.0,59.136876