In [3]:
#Load dependencies
from datetime import datetime as dt, timedelta
import pandas as pd
import numpy as np
from uszipcode import SearchEngine

In [2]:
#pip install uszipcode

Collecting uszipcode
  Downloading https://files.pythonhosted.org/packages/bc/94/1b908c6fe2008f0e913b0b2d97951aa76e00ec1044883c012afb2e477b4a/uszipcode-0.2.4-py2.py3-none-any.whl (378kB)
Requirement already satisfied: requests in c:\programdata\anaconda3\lib\site-packages (from uszipcode) (2.22.0)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (from uszipcode) (1.3.9)
Collecting pathlib-mate (from uszipcode)
  Downloading https://files.pythonhosted.org/packages/ee/90/b414af97dea2b4f98b0cebaa69ec02eacca82e6b1ba18632c5927f01591a/pathlib_mate-1.0.0-py2.py3-none-any.whl (77kB)
Requirement already satisfied: attrs in c:\programdata\anaconda3\lib\site-packages (from uszipcode) (19.2.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests->uszipcode) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\programdata\anaconda3\lib\site-packages (from requests->uszipcode) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests->uszipcode) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests->uszipcode) (2.8)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from pathlib-mate->uszipcode) (1.12.0)
Collecting autopep8 (from pathlib-mate->uszipcode)
  Downloading https://files.pythonhosted.org/packages/12/55/7b07585ca0c30e5b216e4d627f82f96f1a7e82d2dd727b1f926cb3f3d58b/autopep8-1.5.tar.gz (116kB)
Requirement already satisfied: pycodestyle>=2.5.0 in c:\programdata\anaconda3\lib\site-packages (from autopep8->pathlib-mate->uszipcode) (2.5.0)
Building wheels for collected packages: autopep8
  Building wheel for autopep8 (setup.py): started
  Building wheel for autopep8 (setup.py): finished with status 'done'
  Created wheel for autopep8: filename=autopep8-1.5-py2.py3-none-any.whl size=43272 sha256=9b7a0f6985f0652962af60e6944aa00e1defa123c8eac901179ea299ba6be905
  Stored in directory: C:\Users\ruby\AppData\Local\pip\Cache\wheels\2b\dc\d5\e4bc37df332b7a88022bc79d6cdccb79068fdc1620d86afc3a
Successfully built autopep8
Installing collected packages: autopep8, pathlib-mate, uszipcode
Successfully installed autopep8-1.5 pathlib-mate-1.0.0 uszipcode-0.2.4
Note: you may need to restart the kernel to use updated packages.

In [4]:
#Define data files to import
url2017='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2017.txt'
url2018='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2018.txt'
url2019='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-2019.txt'
url2020='https://hfdapp.houstontx.gov/311/311-Public-Data-Extract-monthly.txt'
nullzip=pd.read_csv('../Clean Data Files/311latlngzipcodes.csv',dtype={'calczip':str})

#Define dataframe column names and select numeric and date columns
cols=['case number','sr location','county','district','neighborhood','tax id','trash quad','recycle quad','trash day','heavy trash day','recycle day','key map',
      'management district','department','division','sr type','queue','sla','status','sr create date','due date','date closed','overdue','title','x','y','latitude',
      'longitude','channel type']
numcols=['latitude','longitude']
datecols=['sr create date','due date','date closed']

#Create zipcode retrieval function
search=SearchEngine(simple_zipcode=False)
def zipinfo(lat,lng):
    zipdata=search.by_coordinates(lat,lng,radius=3,returns=1)
    for zipcode in zipdata:
        return zipcode.zipcode

In [5]:
#Create 2017 data frames
data2017=pd.read_csv(url2017,header=5,sep='|',error_bad_lines=False)
data2017=data2017.drop(data2017.index[0]).reset_index(drop=True)
data2017.columns=cols
data2017[cols]=data2017[cols].apply(lambda x:x.str.strip()).replace(r'^\s*$',np.nan,regex=True)
data2017[datecols]=data2017[datecols].apply(pd.to_datetime,format='%Y-%m-%d %H:%M:%S',errors='coerce')
data2017[numcols]=data2017[numcols].apply(pd.to_numeric,errors='coerce')
top2017=data2017['sr type'].value_counts()[lambda x:x>=10000].index.tolist()
data2017.shape

b'Skipping line 9979: expected 29 fields, saw 30\nSkipping line 16339: expected 29 fields, saw 30\n'
b'Skipping line 211068: expected 29 fields, saw 30\n'
b'Skipping line 294299: expected 29 fields, saw 30\n'
b'Skipping line 327924: expected 29 fields, saw 30\n'

(364664, 29)

In [6]:
#Create 2018 data frames
data2018=pd.read_csv(url2018,header=5,sep='|',error_bad_lines=False)
data2018=data2018.drop(data2018.index[0]).reset_index(drop=True)
data2018.columns=cols
data2018[cols]=data2018[cols].apply(lambda x:x.str.strip()).replace(r'^\s*$',np.nan,regex=True)
data2018[datecols]=data2018[datecols].apply(pd.to_datetime,format='%Y-%m-%d %H:%M:%S',errors='coerce')
data2018[numcols]=data2018[numcols].apply(pd.to_numeric,errors='coerce')
top2018=data2018['sr type'].value_counts()[lambda x:x>=10000].index.tolist()
data2018.shape

b'Skipping line 124864: expected 29 fields, saw 30\n'
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(399953, 29)

In [7]:
#Create 2019 data frames
data2019=pd.read_csv(url2019,header=5,sep='|',error_bad_lines=False)
data2019=data2019.drop(data2019.index[0]).reset_index(drop=True)
data2019.columns=cols
data2019[cols]=data2019[cols].apply(lambda x:x.str.strip()).replace(r'^\s*$',np.nan,regex=True)
data2019[datecols]=data2019[datecols].apply(pd.to_datetime,format='%Y-%m-%d %H:%M:%S',errors='coerce')
data2019[numcols]=data2019[numcols].apply(pd.to_numeric,errors='coerce')
top2019=data2019['sr type'].value_counts()[lambda x:x>=10000].index.tolist()
data2019.shape

b'Skipping line 86859: expected 29 fields, saw 31\n'
b'Skipping line 124913: expected 29 fields, saw 30\n'
b'Skipping line 144497: expected 29 fields, saw 30\n'
b'Skipping line 218652: expected 29 fields, saw 31\n'
b'Skipping line 349873: expected 29 fields, saw 30\n'

(395258, 29)

In [10]:
#Create all complete years dataframe
tempdata311=data2017.append([data2018,data2019])
data311=pd.merge(tempdata311,nullzip,on=['latitude','longitude'],how='left')
data311['year']=data311['sr create date'].dt.strftime('%Y')
data311['month']=data311['sr create date'].dt.strftime('%m')
data311=data311[pd.notnull(data311['latitude'])]
data311['truezip']='77'+data311['sr location'].str.extract(r'77(\d{3}\-?\d{0,4})')
data311['zipcode']=np.where(data311['truezip'].isnull()==True,data311['calczip'],data311['truezip'])
data311['openclosetime']=data311['date closed']-data311['sr create date']
data311['daystoclose']=data311['openclosetime']/timedelta(days=1)
data311['openduetime']=data311['due date']-data311['sr create date']
data311['daysdue']=data311['openduetime']/timedelta(days=1)
data311['missedduedate']=np.where(data311['due date']>data311['date closed'],0,1)
types311=data311.groupby(['sr type','year'])['case number'].count().unstack('year').reset_index()
types311.columns=['sr type','2017','2018','2019']
data311.shape

(1059994, 39)

In [9]:
#Create 2020 data frames
data2020=pd.read_csv(url2020,header=5,sep='|',error_bad_lines=False)
data2020=data2020.drop(data2020.index[0]).reset_index(drop=True)
data2020.columns=cols
data2020[cols]=data2020[cols].apply(lambda x:x.str.strip()).replace(r'^\s*$',np.nan,regex=True)
data2020[datecols]=data2020[datecols].apply(pd.to_datetime,errors='coerce')
data2020[numcols]=data2020[numcols].apply(pd.to_numeric,errors='coerce')
data2020=data2020[pd.notnull(data2020['latitude'])]
data2020['zipcode']='77'+data2020['sr location'].str.extract(r'77(\d{3}\-?\d{0,4})')
data2020['openclosetime']=data2020['date closed']-data2020['sr create date']
data2020['openduetime']=data2020['due date']-data2020['sr create date']
top2020=data2020['sr type'].value_counts()[lambda x:x>=10000].index.tolist()
data2020.shape

(25328, 32)

In [11]:
#Create csv of number of service requests by type per year
types311.to_csv('../Clean Data Files/Houston 311 SR Types by Year.csv',index=False,header=True)

In [12]:
#Create dataframe containing service requests with around 10000 a year
toprequests=sorted(np.unique(top2017+top2018+top2019+top2020))
topdata=data311.loc[data311['sr type'].isin(toprequests)].reset_index()
topdata

,index,case number,sr location,county,district,neighborhood,tax id,trash quad,recycle quad,trash day,...,calczip,year,month,truezip,zipcode,openclosetime,daystoclose,openduetime,daysdue,missedduedate
0,2,101002444726,Intersection 3900 S GESSNER RD&10000 WESTPARK DR,Harris County,F,MID WEST,NULL,NaN,NaN,NaN,...,77063,2017,01,NaN,77063,0 days 00:09:53,0.006863,1 days 00:00:00,1.000000,0
1,6,12091836-101002444730,"3303 SAGE, HOUSTON TX 77056",HARRIS,G,GREATER UPTOWN,0451400060009,NaN,NaN,NaN,...,NaN,2017,01,77056,77056,32 days 12:49:18,32.534236,9 days 23:59:59,9.999988,1
2,9,101002444733,Intersection 1400 CAROLINE ST&1300 CLAY ST,Harris County,I,DOWNTOWN,NULL,NaN,NaN,NaN,...,77010,2017,01,NaN,77010,0 days 03:29:24,0.145417,1 days 00:00:00,1.000000,0
3,12,12091839-101002444736,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,0710210010015,NE,NW,MONDAY,...,NaN,2017,01,77022,77022,3 days 05:37:27,3.234340,0 days 23:59:58,0.999977,1
4,13,12091840-101002444737,"7701 APPLETON, HOUSTON TX 77022",HARRIS,H,NORTHSIDE/NORTHLINE,0420050000055,NE,NW,MONDAY,...,NaN,2017,01,77022,77022,2 days 22:16:31,2.928137,2 days 00:00:00,2.000000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657188,1159867,101003785782,"3614 S MACGREGOR, HOUSTON TX 77021",HARRIS,D,MACGREGOR,0611350550011,SE,SW,TUESDAY,...,NaN,2019,12,77021,77021,1 days 19:05:30,1.795486,5 days 09:31:13,5.396678,0
657189,1159868,101003785783,"3547 TAMPA, HOUSTON TX 77021",HARRIS,D,MACGREGOR,0741210010025,SE,SW,TUESDAY,...,NaN,2019,12,77021,77021,1 days 18:49:53,1.784641,5 days 09:15:17,5.385613,0
657190,1159870,101003785785,"3415 WENTWORTH, HOUSTON TX 77004",HARRIS,D,MACGREGOR,0700280060004,SE,SW,TUESDAY,...,NaN,2019,12,77004,77004,1 days 18:22:03,1.765313,5 days 08:47:10,5.366088,0
657191,1159871,20024521-101003785786,"11035 AVON BROOK, HOUSTON TX 77034",HARRIS,E,SOUTH BELT / ELLINGTON,1319170030001,SE,SE,THURSDAY,...,NaN,2019,12,77034,77034,0 days 10:10:54,0.424236,10 days 00:00:00,10.000000,0
657192,1159872,20024522-101003785787,"11035 AVON BROOK, HOUSTON TX 77034",HARRIS,E,SOUTH BELT / ELLINGTON,1319170030001,SE,SE,THURSDAY,...,NaN,2019,12,77034,77034,0 days 05:00:22,0.208588,2 days 00:00:00,2.000000,0

In [13]:
#Display null values in dataset
topdata.isnull().sum()

index                       0
case number                 0
sr location                 0
county                   1968
district                 2798
neighborhood             3755
tax id                   1958
trash quad             106569
recycle quad           108718
trash day              106569
heavy trash day        107179
recycle day            108716
key map                     0
management district    380775
department                  0
division                    0
sr type                     0
queue                       0
sla                         0
status                      0
sr create date              0
due date                    6
date closed              6803
overdue                  4982
title                       0
x                           0
y                           0
latitude                    0
longitude                   0
channel type                0
calczip                594941
year                        0
month                       0
truezip                 65807
zipcode                  3555
openclosetime            6803
daystoclose              6803
openduetime                 6
daysdue                     6
missedduedate               0
dtype: int64

In [14]:
missingzip=topdata[topdata.zipcode.isnull()]
missingzip=missingzip[['latitude','longitude']].reset_index()
missingzip.drop_duplicates(inplace=True)
#zipmiss=missingzip[0:5000]
missingzip['calczip']=np.vectorize(zipinfo)(missingzip['latitude'].values,missingzip['longitude'].values)

In [15]:
newnullzip=nullzip.append([missingzip],sort=False)
newnullzip.drop(['index'],axis=1,inplace=True)
newnullzip.drop_duplicates(inplace=True)
newnullzip

       latitude  longitude calczip
0     29.722099 -95.539078   77063
1     29.752398 -95.364693   77010
2     29.813465 -95.369751   77022
3     29.795120 -95.545807   77080
4     29.833042 -95.482864   77092
...         ...        ...     ...
3487  29.854492 -95.468086   77092
3501  30.054660 -95.196577   77339
3525  29.711504 -95.337372   77021
3530  29.832123 -95.515526   77080
3536  29.790125 -95.374184   77009

[16943 rows x 3 columns]

In [16]:
newnullzip.to_csv('../Clean Data Files/311latlngzipcodes.csv',index=False,header=True)

In [17]:
data311.to_csv("../../311_data_17_19.csv", index = False)

In [18]:
data311.shape

(1059994, 39)

In [19]:
data311WithZip = data311[data311['zipcode'].str.len() == 5]

In [20]:
#data2017WithZipA = data2017WithZip[data2017WithZip.sla.apply(lambda x: x.isnumeric())]
data311WithZip = data311WithZip[pd.to_numeric(data311WithZip['sla'], errors='coerce').notnull()]
data311WithZip = data311WithZip[pd.to_numeric(data311WithZip['overdue'], errors='coerce').notnull()]
data311WithZip['sla'] = data311WithZip['sla'].astype(float)
data311WithZip['overdue'] = data311WithZip['overdue'].astype(float)

In [28]:
data311WithZip['date_field_str'] = data311WithZip['sr create date'].dt.strftime('%Y%m%d')
data311WithZip['date_month'] = data311WithZip['sr create date'].dt.strftime('%b')
data311WithZip['date_field'] = data311WithZip['sr create date'].dt.date

In [34]:
data311WithZip['serv_type'] = data311WithZip['sr type']

In [35]:
dataAgg = data311WithZip.groupby(['zipcode', 'date_field', 'date_field_str', 'serv_type', 'neighborhood']).agg(
    # Get max of the duration column for each group
    avg_sla=('sla', 'mean'),
    count_issues=('title', 'count'),
    # Get min of the duration column for each group
    avg_overdue=('overdue', 'mean'))

In [36]:
dataAgg['avg_time'] = dataAgg['avg_sla'] +  dataAgg['avg_overdue']

In [37]:
dataAgg.to_csv("../static/data/agg_hist_311_data.csv")

In [46]:
dataAgg.reset_index(inplace=True)

In [47]:
 dataAggTypes = dataAgg.groupby(['serv_type']).agg(
    # Get max of the duration column for each group
    count_issues=('serv_type', 'count'))

In [41]:
type(dataAgg)

pandas.core.frame.DataFrame